@{
    ViewData["Title"] = "Short URL App";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Short URL App!</h1>
    <p class="lead">Your links, shortened in just a few clicks.</p>
    <img src="~/111.jpg" alt="Short URL App" class="img-fluid" style="max-width: 747px; max-height: 477px;" />
    <p class="mt-4">A convenient interface for quick access to your shortened links.</p>
</div>
